.footer {
  background-color: var(--brand-color-2);
  color: #ffffff;
  text-align: start;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;

  .footer__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }
}

.footer .container {
  display: flex;
}

.contact-list-footer__link {
  margin: 9px 0;
  display: flex;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-footer__link--underline {
  text-decoration: underline;
}

.contact-list-footer .contact-list-footer__link:hover,
.contact-list-footer .contact-list-footer__link:focus {
  color: var(--brand-color);
  fill: #2196f3;
}

.footer__socials {
  margin-left: 70px;
}

.footer-icons {
  display: flex;

  &__icon {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #ffffff;
  }

  &__icon:hover,
  &__icon:focus {
    background: #2196f3;
    cursor: pointer;
  }
}
.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer [href="mailto:info@example.com"],
.footer [href="+48111111111"] {
  color: rgba(255, 255, 255, 0.6);
}

.fieldset-footer {
  border: 0;
  display: flex;
  margin-left: 68px;

  & ::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &__legend {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--brand-color-2);
    color: #ffffff;
    outline: 0;
    margin-top: 20px;
    margin-right: 12px;
    padding-left: 16px;
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    padding-right: 76px;
    padding-right: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
  }

  &__btn .fieldset-footer__btn-icon {
    fill: #ffffff;
    position: absolute;
    right: 28px;
    top: 13px;
  }
}
